<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsq.mapper.CompanyMapper">

    <resultMap type="com.zhsq.pojo.Company" id="CompanyMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="companyId" column="company_id" jdbcType="VARCHAR"/>
        <result property="companyName" column="company_name" jdbcType="VARCHAR"/>
        <result property="companyPhone" column="company_phone" jdbcType="VARCHAR"/>
        <result property="companyAddress" column="company_address" jdbcType="VARCHAR"/>
        <result property="feeType" column="fee_type" jdbcType="INTEGER"/>
    </resultMap>

    
</mapper>

