<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsq.mapper.ParkingSpaceMapper">

    <resultMap type="com.zhsq.pojo.ParkingSpace" id="ParkingSpaceMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="communityName" column="community_name" jdbcType="VARCHAR"/>
        <result property="longitude" column="longitude" jdbcType="NUMERIC"/>
        <result property="latitude" column="latitude" jdbcType="NUMERIC"/>
        <result property="total" column="total" jdbcType="INTEGER"/>
    </resultMap>

    
</mapper>

