<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsq.mapper.SlideMapper">

    <resultMap type="com.zhsq.pojo.Slide" id="SlideMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="slideImage" column="slide_image" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="slideUrl" column="slide_url" jdbcType="VARCHAR"/>
    </resultMap>

    
</mapper>

